.Modal{
  position: absolute;
  width: 100%;
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);

  .Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 40%;
    background: #242424;
    * {
      margin-bottom: 10px;
    }
    textarea{
      width: 200px;
      height: 20px;
    }
  }
}