.Wrapper{
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  label{
    font-size: 22px;
    align-self: center;
  }
  textarea{
    resize: none;
    background: transparent;
    border: 2px solid #ffeed6;
    border-radius: 15px;
    padding-left: 7px;
    font-size: 20px;
    margin-top: 5px;
    &::placeholder {
      color: white;
      padding-left:5px;
    }
  }
}