.Wrapper{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  label{
    font-size: 22px;
    align-self: center;
  }
  input{
    height: 26px;
    background: transparent;
    border: 2px solid #ffeed6;
    border-radius: 15px;
    padding-left: 7px;
    font-size: 20px;
    margin-top: 5px;
    &::placeholder {
      color: white;
      padding-left:5px;
    }
  }
}